<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<div class="section">
  <div class="col-md-12">
  
    <div class="panel panel-default">
      <div class="panel-body text-center">
        This is the main page of the app.  You can do stuff here :D
      </div>
    </div>

  </div>
</div>
